/* Aplicamos la fuente Poppins a todo el cuerpo */
body {
    font-family: 'Poppins', sans-serif;
}

/* Colores personalizados para fácil referencia */
:root {
    --color-dark: #1a1a1a;
    --color-light: #f5f5f5;
    --color-accent: #d4af37;
}

/* Para el scroll suave */
html {
    scroll-behavior: smooth;
}

/* Estilos para el nuevo botón CTA */
.cta-button {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  width: 100x;
  height: 56px;
}

.cta-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta-button span{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}


.cta-button svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta-button:hover:before {
  width: 100%;
  background: #f1e129;
}
.cta-button:hover svg {
  transform: translateX(0);
}
.cta-button:active {
  transform: scale(0.96);
}