/* Importar componentes de CSS */
@import url("components/buttons.css");
@import url("components/hero.css");
@import url("components/services-carousel.css");
@import url("components/scrolling-process.css");

/* Aplicamos la fuente Poppins a todo el cuerpo */
body {
    font-family: 'Poppins', sans-serif;
}

/* Colores personalizados para fácil referencia */
:root {
    --color-dark: #1a1a1a;
    --color-light: #f5f5f5;
    --color-accent: #d4af37;
}

/* Para el scroll suave */
html {
    scroll-behavior: smooth;
}