/* Estilos para el botón CTA */
.cta-button {
  position: relative;
  transition: all 0.2s ease;
  overflow: hidden; /* Oculta el efecto fuera de los bordes del botón */
}

.cta-button:before {
  content: "";
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 0;
  transform: translateY(-50%); /* Ajuste fino para centrado vertical */
  display: block;
  border-radius: 22px; /* La mitad de la altura para que sea un círculo */
  background: rgba(241, 225, 41, 0.5); /* Color del efecto, similar al hover */
  width: 44px;  /* Ancho igual a la altura para formar un círculo */
  height: 44px; /* Altura que coincide con el padding y texto del botón */
  transition: all 0.3s ease;
  z-index: 0; /* Detrás del texto */
}

.cta-button span {
  position: relative;
  z-index: 1; /* Asegura que el texto esté sobre el efecto */
  vertical-align: middle;
}

.cta-button:hover:before {
  width: 100%; /* Expande el efecto a todo lo ancho del botón */
  background: #f1e129;
}

.cta-button:active {
  transform: scale(0.96);
}
